---
import RComp from '../../components/RComp'
---

<div class="grid grid-cols-2">
    <div class="p-8">

    </div>
    <div class="p-8">
        <div class="grid w-full h-20 grid-cols-10 grid-rows-2 border-b border-r border-black">
            <div class="border-t border-l border-black">
                <RComp />
            </div>
            <div class="col-span-2 border-t border-l border-black">
            </div>
            <div class="border-t border-l border-black">

            </div>
            <div class="col-span-2 border-t border-l border-black">

            </div>
            <div class="border-t border-l border-black">

            </div>
            <div class="border-t border-l border-black">

            </div>
            <div class="col-span-2 row-span-2 border-t border-l border-black">

            </div>
                <!-- Second row -->
            <div class="col-span-4 border-t border-l border-black">

            </div>
            <div class="col-span-2 border-t border-l border-black">

            </div>
            <div class="col-span-2 border-t border-l border-black">

            </div>
           
        </div>
    </div>
</div>