---
import type { CollectionEntry } from "astro:content";
type Props = {
  posts: CollectionEntry<"blog">[];
};
const { posts } = Astro.props;
---

<div class="flex flex-wrap gap-8 bg-base-100 px-8 py-16">
  {
    posts.map((post) => (
      <a
        href={`/blog/${post.slug}`}
        class="card bg-primary text-primary-content w-96"
      >
        <div class="card-body">
          <h2 class="card-title">{post.data.title}</h2>
          <p>{post.data.description}</p>
        </div>
      </a>
    ))
  }
</div>
