<div class="flex flex-wrap gap-8 bg-base-100 px-8 py-16">
  <a
    href="/blog/youtube-new-controls"
    class="card w-96 bg-primary text-primary-content"
  >
    <div class="card-body">
      <h2 class="card-title">Blog Post</h2>
      <p>Description</p>
    </div>
  </a>
</div>
