---
const { title } = Astro.props;
---

<div class="w-full flex flex-col items-center pt-8 px-3 h-full">
  <article class="prose flex flex-col h-full">
    <h1>{title}</h1>
    <slot />
  </article>
</div>
