---
import { ThemePicker } from "@features/theme/ThemePicker";
const path = Astro.url.pathname;
---

<div class="navbar bg-base-100 border-b border-b-primary border-dashed">
  <div class="navbar-start">
    <div class="dropdown sm:hidden block">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <!-- <li><a href="/cv">CV</a></li> -->
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <div class="gap-2 hidden sm:flex">
      <a
        class:list={[
          "btn btn-ghost no-animation normal-case text-xl",
          { underline: path === "/" },
        ]}
        href="/">Profile</a
      >
      <a
        class:list={[
          "btn btn-ghost no-animation normal-case text-xl",
          { underline: path === "/blog" },
        ]}
        href="/blog">Blog</a
      >
      <a
        class:list={[
          "btn btn-ghost no-animation normal-case text-xl btn-disabled",
          { underline: path === "/cv" },
        ]}
        href="/cv">CV</a
      >
    </div>
  </div>
  <div class="navbar-end">
    <ThemePicker client:load />
  </div>
</div>
