---
import Background from "./Background.astro";
import { YtButton } from "./YtButton";
import { Toggle } from "./Toggle";
import { ShareIcon } from "../icons/share";
import { DotsIcon } from "../icons/dots";
import { Dual } from "./Dual";
---

<Background>
  <div class="grid grid-cols-2 gap-4 items-center w-full">
    <span class="text-yt-text">Simple button</span>
    <div>
      <YtButton>Subscribe</YtButton>
    </div>
    <span class="text-yt-text">With icon</span>
    <div>
      <YtButton icon={ShareIcon}>Share</YtButton>
    </div>
    <span class="text-yt-text">Icon Button</span>
    <div>
      <YtButton icon={DotsIcon} />
    </div>
    <span class="text-yt-text">Inverted</span>
    <div>
      <YtButton icon={DotsIcon} inverted />
    </div>
    <span class="text-yt-text">Toggle</span>
    <div>
      <Toggle texts={["Subscribed", "Subscribe"]} client:load />
    </div>
    <span class="text-yt-text">Dual</span>
    <div>
      <Dual client:load />
    </div>
  </div>
</Background>
