<div class="py-4 px-8 bg-yt-primary grid place-items-center">
  <button
    class="py-0 px-4 h-9 rounded-yt text-yt-text bg-yt-button pointer flex flex-1 justify-center text-yt"
    >Share</button
  >
</div>
