---
import Header from "./Header.astro";

export type Props = {
  frontmatter?: {
    file: string;
    url?: string;
    title?: string;
  };
  title?: string;
};

const { title, frontmatter } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter?.title}</title>
  </head>
  <body class="flex flex-col h-screen w-screen overflow-hidden">
    <script is:inline>
      !(function () {
        try {
          var d = document.documentElement,
            n = "data-theme",
            s = "setAttribute";
          var e = localStorage.getItem("theme");
          if ("system" === e || (!e && true)) {
            var t = "(prefers-color-scheme: dark)",
              m = window.matchMedia(t);
            if (m.media !== t || m.matches) {
              d.style.colorScheme = "dark";
              d[s](n, "dark");
            } else {
              d.style.colorScheme = "light";
              d[s](n, "light");
            }
          } else if (e) {
            d[s](n, e || "");
          }
          if (e === "light" || e === "dark") d.style.colorScheme = e;
        } catch (e) {}
      })();
    </script>
    <Header />
    <main class="flex-1 relative overflow-auto pb-10">
      <slot />
    </main>
    <footer
      class="hidden md:grid footer items-center p-4 bg-neutral text-neutral-content"
    >
      <div
        class="items-center flex flex-wrap justify-self-center gap-8 justify-center"
      >
        <div class="flex gap-2">
          <p>Contacts:</p>
          <a
            class="link link-secondary"
            href="https://t.me/kirrosh9"
            target="_blank">https://t.me/kirrosh9</a
          >
        </div>
        <div class="flex gap-2">
          <p>Github:</p>
          <a
            class="link link-secondary"
            href="https://github.com/kirrosh"
            target="_blank">https://github.com/kirrosh</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
