---
import Header from "@components/Header.astro";
import { PtsCanvas } from "@components/PtsCanvas";
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <body class="flex flex-col h-screen w-screen">
    <script is:raw>
      !(function () {
        try {
          var d = document.documentElement,
            n = "data-theme",
            s = "setAttribute";
          var e = localStorage.getItem("theme");
          d[s](n, e || "");
        } catch (e) {}
      })();
    </script>
    <Header />
    <main class="flex-1 relative">
      <div class="absolute top-0 left-0 h-full w-full z-10">
        <PtsCanvas client:only="solid-js" />
      </div>
      <div class="absolute top-0 left-0 h-full w-full z-20">
        <slot />
      </div>
    </main>
    <footer
      class="hidden md:grid footer items-center p-4 bg-neutral text-neutral-content"
    >
      <div
        class="items-center flex flex-wrap justify-self-center gap-4 sm:gap-0 justify-center"
      >
        <div class="flex gap-4">
          <p>Contacts:</p>
          <a class="link link-secondary">https://t.me/kirrosh9</a>
        </div>
      </div>
    </footer>
  </body>
</html>
